USE [master]
GO
/****** Object:  Database [Botes]    Script Date: 4/15/2018 11:49:09 AM ******/
CREATE DATABASE [Botes]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Botes].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Botes]
GO
USE [Botes]
GO
/****** Object:  Table [dbo].[Botes]    Script Date: 4/15/2018 11:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Botes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lugar] [int] NULL,
	[categoria] [int] NULL,
 CONSTRAINT [PK_Botes] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Botes_llenos]    Script Date: 4/15/2018 11:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Botes_llenos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[capacidad] [float] NOT NULL,
	[fecha] [varchar](50) NOT NULL,
	[id_bote] [int] NOT NULL,
 CONSTRAINT [PK_Botes_llenos] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categorias]    Script Date: 4/15/2018 11:49:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categorias](
	[id] [int] NOT NULL,
	[categoria] [varchar](50) NULL,
 CONSTRAINT [PK_Categorias] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lugares]    Script Date: 4/15/2018 11:49:12 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lugares](
	[id] [int] NOT NULL,
	[nombre] [varchar](100) NULL,
	[latitud] [float] NULL,
	[longitud] [float] NULL,
 CONSTRAINT [PK_Lugares] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Botes]  WITH CHECK ADD FOREIGN KEY([categoria])
REFERENCES [dbo].[Categorias] ([id])
GO
ALTER TABLE [dbo].[Botes]  WITH CHECK ADD FOREIGN KEY([lugar])
REFERENCES [dbo].[Lugares] ([id])
GO
ALTER TABLE [dbo].[Botes_llenos]  WITH CHECK ADD FOREIGN KEY([id_bote])
REFERENCES [dbo].[Botes] ([id])
GO
USE [master]
GO
