@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Botes de basura llenos</h1>
</div>

<div class="row">
    <div class="col-md-9">
        <h2>Ciudad de México</h2>
        <p>
            Debajo están los contenedores de basura llenos en toda la ciudad
        </p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table>

        </table>
    </div>
</div>
